Checks: |
  -*,
  clang-analyzer-*,
  # We only use gcc's warnings (e.g., with GENMC_WERROR); clang produces a different set
  -clang-diagnostic-*,
  concurrency-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-do-while,
  # FPs due to X-macros and many others cannot be constexpr
  -cppcoreguidelines-macro-usage,
  llvm-*,
  -llvmlibc-restrict-system-libc-headers,
  -llvm-header-guard,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,
  -misc-use-anonymous-namespace,
  readability-*,
  -readability-braces-around-statements,
  # FPs for formatters and siblings of non-statics
  -readability-convert-member-functions-to-static,
  -readability-implicit-bool-conversion,
  modernize-*,
  performance-*,
CheckOptions:
- key: readability-implicit-bool-conversion.AllowPointerConditions
  value: true
- key: readability-function-cognitive-complexity.IgnoreMacros
  value: true
  # due to VERIFY/ASSERT/ERROR_ON wrapping their argument in `if`
- key: readability-simplify-boolean-expr.IgnoreMacros
  value: true
- key: readability-identifier-length.IgnoredVariableNames
  value: 'i|j|g|e|l|r|s|w|f|br|v|rf|co|hb|op'
- key: readability-identifier-length.IgnoredLoopCounterNames
  value: 'i|j|k|g|e|l|r|s|w|f|br|v|hb|op'
- key: readability-identifier-length.IgnoredParameterNames
  value: 'i|j|K|g|e|l|r|s|w|f|br|v|hb|op'
- key: modernize-use-trailing-return-type.TransformLambdas
  value: 'none'
