.dir-locals.el
*~
\#*\#
*.bak
*.backup
.*.sw[a-z]
.cache
.deps
*.dirstamp
compile_commands.json

*.gcno

*.a
*.o

*.ll
*.out

doc/doxygen
doc/Doxyfile

.vscode/

Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.h
config.guess
config.status
config.log
configure
depcomp
install-sh
missing
stamp-*
ylwrap
test-driver

RelWithDebInfo/
Release/
Debug/
Testing/
**CMakeCache.txt
**CMakeFiles/
**CTestTestfile.cmake
**cmake_install.cmake

scripts/*.log
coverage_report*
