genmc

.dir-locals.el
*~
\#*\#
*.bak
*.backup
.*.sw[a-z]
.cache
.deps
*.dirstamp
compile_commands.json

*.gcno

*.a
*.o

*.ll
*.out

doc/doxygen

Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.h
config.h.in
config.guess
config.status
config.log
configure
depcomp
install-sh
missing
stamp-*
ylwrap
test-driver