genmc

*~
\#*\#
*.bak
*.backup
.*.sw[a-z]

*.ll

*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa

Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.h
config.h.in
config.guess
config.status
config.log
configure
depcomp
install-sh
missing
stamp-*
